<!--
Directiva  es una funcionalidad que se le puede aplicar a una etiqueta desde el HTML 

EJ : *ngFor -> Repetitiva que va a recorrer una collecion, iterando elementos por elemento, 
y lo va a mostrar sin repetir el codig  del  HTML.

EJ : *ngFor -> CONDICIONAL que va a mostrar u ocultaer un elemento segun uan condicion.
-->

<div *ngFor="let i of info" class="contenido">

    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{i.titulo}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
</div>
